/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
    letter-spacing: 0.02em;
    font-weight: 500;
}
.link {
    text-decoration: none;
    color: var(--primary-text-color);
}
/* Свойства для корректного отображения картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* Свойства для обнуления курсива у address */

address {
    font-style: normal;
    line-height: 1.7;
}

:root {
    /* Text colors */
    --primary-text-color: #212121;
    --sec-text-color: #757575;
    --logo-top: #000000;
    --accent-color: #2196f3;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    /* Background colors */
    --primary-white-color: #ffffff;
    --primary-bg-color: #f5f5f5;
    --sec-bg-color: #f5f4fa;
    --footer-bg-color: #2f303a;
}
body {
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.03em;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
    padding-left: 20px;
    padding-right: 20px;
}

/* HEADER */
/* Logo */
.site-header {
    display: flex;
    align-items: center;
}
.logo {
    color: var(--primary-white-color);
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logo.site-logo {
    display: flex;
    color: var(--logo-top);
}
.logo.accent {
    color: var(--accent-color);
}

/* Site nav */
.site-main {
    display: flex;
    align-items: center;
    margin-left: 93px;
}
.site-nav {
    display: flex;
}
.site-nav .item + .item,
.site-contacts .item + .item {
    margin-left: 50px;
}
.site-contacts {
    display: flex;
    margin-left: auto;
}
.cont {
    display: block;
    color: var(--sec-text-color);
}
.site-nav .link,
.site-contacts .link {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}
.link:hover,
.link:focus,
.cont:hover,
.addr:hover {
    color: var(--accent-color);
}
.current {
    color: var(--accent-color);
}

/* MAIN */
/* Bigblock */
.main {
}
.hero {
    background-color: var(--footer-bg-color);
    color: var(--primary-white-color);
    text-align: center;
}
.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.btn {
    text-align: center;
    padding: 10px 32px;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.btn:hover {
    background-color: var(--sec-bg-color);
    color: var(--primary-text-color);
}

/* Pluses */
.pluses {
}
.pluses-heading {
}
.pluses-title {
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.15;
}
.pluses-subtitle {
    color: var(--sec-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}

/* Activities */
.activities {
}
.heading {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

/* Team */
.team {
    background-color: var(--sec-bg-color);
}
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.team-subtitle {
    color: var(--sec-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 0.8;
}

/* PORTFOLIO */
.main {
}
.button {
    background-color: var(--sec-bg-color);
    color: var(--primary-text-color);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}
.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}
.gallery {
}
.gallery-heading {
}
.gallery-link {
    text-decoration: none;
}
.gallery-link:hover {
}
.gallery-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.gallery-subtitle {
    color: var(--sec-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

/* FOOTER */
.footer {
    background-color: var(--footer-bg-color);
}

.location {
    color: var(--primary-white-color);
    text-decoration: none;
    font-weight: 400;
}
.addr {
    color: var(--footer-contacts-color);
    text-decoration: none;
}
